@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 2rem;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: $bgColor;
  }

  &::-webkit-scrollbar-thumb {
    background: $bgColor;
    border-radius: 5rem;
  }
}

body {
  background: $bgColor;
}

section {
  padding: 3rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: $white;
  cursor: pointer;
  background: $primaryColor;

  &:hover {
    background: $darkColor;
  }
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  color: $darkColor;

  span {
    color: $primaryColor;
  }
}

@keyframes fadeIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
}

@include xlg {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 2rem;
  }
}

@include sm {
  html {
    font-size: 50%;
  }
}
