.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  .image {
    flex: 1 1 42rem;

    img {
      width: 100%;
    }
  }

  .content {
    flex: 1 1 42rem;
    padding: 3rem;
    background: $white;

    h3 {
      font-size: 3rem;
      text-transform: uppercase;
      color: $darkColor;
    }

    p {
      font-size: 1.5rem;
      color: $lightColor;
      padding: 1rem 0;
      line-height: 2;
    }
  }
}

.faq {
  .accordion-container {
    max-width: 70rem;
    margin: 0 auto;

    .accordion {
      background: $white;
      margin-bottom: 1.5rem;
      box-shadow: $box-shadow;

      &:last-child {
        margin-bottom: 0.5rem;
      }

      &.active {
        .accordion-heading {
          background: $primaryColor;

          i {
            transform: rotate(180deg);
          }
        }

        .accordion-content {
          display: block;
        }
      }

      &-heading {
        padding: 2rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
        background: $darkColor;
        cursor: pointer;

        h3 {
          font-size: 2rem;
          color: $white;
        }

        i {
          font-size: 2rem;
          color: $white;
        }
      }

      &-content {
        padding: 2rem;
        font-size: 1.5rem;
        line-height: 2;
        color: $lightColor;
        display: none;
        animation: fadeIn 0.2s linear;
      }
    }
  }
}
